body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
}

.container{
    width:350px;
    margin:20px auto;
}

.screen{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.hidden{
    display:none;
}

h2{
    text-align:center;
}

label{
    display:block;
    margin-top:10px;
}

input{
    width:100%;
    padding:10px;
    margin-top:5px;
    margin-bottom:10px;
    box-sizing:border-box;
}

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:5px;
    background:#5a4ff3;
    color:white;
    cursor:pointer;
}

.card{
    border:1px solid #ddd;
    padding:15px;
    border-radius:8px;
}

.seats{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:10px;
    margin:20px 0;
}

.seat{
    background:#28a745;
}

.selected{
    background:orange;
}

.book-btn{
    background:#ff5722;
}